body {
    padding: 0;
    text-align: center;
  }
  
  .game-intro {
    float: left;
    padding: 0% 10%;
  }
  
  .game-intro p {
    font-size: 18px;
    font-family: "Verdana"
  }
  .player-screen {
    width: 1250px;
    height: 900px;
    border: #870007 2px solid;
  }
  #summer {
      background-color: aqua;
      background-image: url("../images/field.jpeg");
  }
